## SQLite Database

In [1]:
#pip install db-sqlite3

In [2]:
import sqlite3

## How to connect with database in Python?

1. Import database module<br /><br />
<code>import sqlite3</code><br /><br />

2. Establish connection between python program and db<br /><br />
<code>con = sqlite3.connect(database)</code><br /><br />

3. To execute mysql query and hold result cursor is required<br /><br />
<code>cursor = con.cursor()</code><br /><br />

4. Execute MySql query with the help of cursor object<br /><br />
<code>cursor.execute(query)</code><br /><br />
<code>cursor.executemany()</code><br /><br />

5. fetch the result from cursor object in case of select query<br /><br />
<code>cursor.fetchone()</code><br /><br />
<code>cursor.fetchall()</code><br /><br />
<code>cursor.fetchmany(n)</code><br /><br />

6. commit or rollback changes based on your requirement<br /><br />
<code>con.commit()</code><br /><br />
<code>con.rollback()</code><br /><br />

7. close the resources and disconnect database<br /><br />
<code>cursor.close()</code><br /><br />
<code>con.close()</code><br /><br />

The main difference between the COMMIT and ROLLBACK statements of SQL is that the execution of COMMIT statement makes all the modification made by the current transaction become permanent. On the other hands, the execution of ROLLBACK erases all the modification made by the current transaction.

In [3]:
import sqlite3

con = sqlite3.connect('database_1.db') 

print("Opened database successfully")

con.close()

Opened database successfully

In [4]:
import sqlite3

try:
    con = sqlite3.connect('database.db')
    print(con)
    
finally:
    con.close()
    print('DONE')

<sqlite3.Connection object at 0x00000184820F2300>
DONE

## Creating Database Table

In [3]:
import sqlite3

try:
    con = sqlite3.connect('database.db')
    
    cursor = con.cursor()
    
    query = 'create table employees_new(eno int(5) primary key, \
    ename varchar(10), eage int(8)) '
    
    cursor.execute(query) 
    
    print('Table created successfully!!')
    con.commit()   

except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
        print("ok")
    if con:
        con.close()
        print('DONe')

Problem occured:  table employees_new already exists
ok
DONe

## Adding new columns

In [7]:
import sqlite3

try:
    con = sqlite3.connect('database.db')
    
    cursor = con.cursor()
    
    query = 'alter table employees_new add column eincome int(8)'
    
    cursor.execute(query)
    
    print('Column added Successfully!!')
    con.commit()
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('DONE')

Column added Successfully!!
DONE

## Insert Operation

In [1]:
import sqlite3

try:
    con = sqlite3.connect('database.db')
    
    cursor = con.cursor()
    
    query = "insert into employees_new(eno, ename, eage, eincome) \
    values(1,'lmn',30,70000)"
    
    cursor.execute(query)
    
    con.commit()
    
    print('Row inserted Successfully')
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
        
    if con:
        con.close()
    print('DONE!!')

Problem occured:  no such table: employees_new
DONE!!

In [9]:
import sqlite3

try:
    con = sqlite3.connect('database.db')
    
    cursor = con.cursor()
    
    query = "insert into employees_new(eno, ename, eage, eincome) \
    values(?,?,?,?)"
    
    records = [(3, 'xyz', 33, 40000),(4, 'abc', 23, 23000)]
    
    cursor.executemany(query, records)
    
    con.commit()
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('DONE!!')

DONE!!

## Read Operation

In [10]:
import sqlite3

try:
    con = sqlite3.connect('database.db')
    
    cursor = con.cursor()
    
    query = 'select * from employees_new'
    
    cursor.execute(query)
    
    data = cursor.fetchall()

    for row in data:
        print('Eno: {}, Ename: {}, Eage: {}, Esal: {}'\
             .format(row[0], row[1], row[2], row[3]))
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('DONE!!')

Eno: 1, Ename: lmn, Eage: 30, Esal: 70000
Eno: 3, Ename: xyz, Eage: 33, Esal: 40000
Eno: 4, Ename: abc, Eage: 23, Esal: 23000
DONE!!

## Update Operation

The COMMIT statement lets a user save any changes or alterations on the current transaction. These changes then remain permanent. The ROLLBACK statement lets a user undo all the alterations and changes that occurred on the current transaction after the last COMMIT.

In [14]:
import sqlite3

try:
    con = sqlite3.connect('database.db')
    
    cursor = con.cursor()
    
    query = "update employees_new set eage=eage+10 where ename = 'xyz'"
    
    cursor.execute(query)
    
    con.commit()
    
    query = 'select * from employees_new'
    
    cursor.execute(query)
    
    data = cursor.fetchall()
    
    for row in data:
        print('Eno: {}, Ename: {}, Eage: {}, Esal: {}'\
             .format(row[0], row[1], row[2], row[3]))
    
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('DONE!!')

Eno: 1, Ename: lmn, Eage: 30, Esal: 70000
Eno: 3, Ename: xyz, Eage: 43, Esal: 40000
Eno: 4, Ename: abc, Eage: 23, Esal: 23000
DONE!!

## Delete Operation

In [15]:
import sqlite3

try:
    con = sqlite3.connect('database.db')
    
    cursor = con.cursor()
    
    age = input('Enter age: ')
    
    query = "delete from employees_new where eage={}".format(age)
    
    cursor.execute(query)
    
    con.commit()
    
except sqlite3.DatabaseError as e:
    if con:
        con.rollback()
        print('Problem occured: ', e)
    
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()
    print('DONE!!')

DONE!!

In [16]:
con = sqlite3.connect('database.db')
    
cursor = con.cursor()
    
query = 'select * from employees_new'

cursor.execute(query)

data = cursor.fetchall()

for row in data:
    print('Eno: {}, Ename: {}, Eage: {}, Esal: {}'\

            .format(row[0], row[1], row[2], row[3]))

Eno: 1, Ename: lmn, Eage: 30, Esal: 70000
Eno: 4, Ename: abc, Eage: 23, Esal: 23000